# IDEA
.idea
# vscode
.vscode

# cryptography key files
jwt-key
jwt-key.pub
**/*.pem

# python temp and cache files
.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site

.coverage
coverage.xml
.netlify
test.db
log.txt

Pipfile.lock
env3.*
env
venv
docs_build
docs.zip
archive.zip
